div {
    margin: auto;
    width: 28rem;
}

body {
    background-color: #dcdcdc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

blockquote{
    text-align: center;
    border: 1px solid white;
}